.more {
  background-color: #f2f2f2;
}

.more .more__header {
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
}

.more__header .more__header-cloumn {
  display: flex;
  align-items: center;
}

.more__header-cloumn img{
  width:50px;
  border-radius: 50%;
  margin-right: 13px;
}

.more__header-info .more__header-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.more__header-info .more__header-subtitle {
  color: #b4b4b4;
  font-size: 11px;
}

.more .more__options{
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.more__options .more__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  padding-top: 20px;
  color: #523737;
}

.more__option .more__option-title{
  margin-top: 10px;
  font-size: 12px;
}

.more .more__plus-frindes {
  margin-bottom: 10px;
  background-color: white;
  padding: 20px;
}

.more__plus-frindes .plus__friends__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.plus__friends__header .plus__friends-learn-more {
  color: #b4b4b4;
}

.plus__friends__header .plus__friends-learn-more i {
  padding-right: 10px;
}
.plus__friends-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plus__friends-items .plus__friends-item {
  width: 50%;
  margin-bottom: 30px;
}

.plus__friends-item i {
  margin-right: 10px;
}

.plus__friends-item .plus__friends-title {
  font-size: 13px;
}

.more__links {
  display: flex;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.more__links .more__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.more__links .more__option img {
  height: 45px;
  margin-bottom: 10px;
}

.more__links .more__option .more__options-title {
  font-size: 12px;
}
