.tab-bar {
  background-color: #F7F7F7;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content:  space-between;
  padding-top: 10px;
  padding-bottom: 5px;
  padding: 10px 30px 5px 30px;
  border-top:1px solid #c1c1c1;
}

.tab-bar .tab-bar__tab {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #c1c1c1;
}

.tab-bar .tab-bar__tab--selected {
  color: #523737;
}
.tab-bar .tab-bar__tab i{
  display: block;
  text-align: center;
  margin-bottom: 5px;
  font-size: 24px;
}

.tab-bar .tab-bar__title {
  font-size: 10px;
}
